.Cart {
    display: inline-block;
    max-width: 40%;
}

.Total {
    display: flex;
    flex-wrap: wrap;
}

.TotalP {
    width: 60%;
}

.Order {
    display: inline-block;
    /*border: 1px solid red;*/
    width: 100%;
}

.OrderName {
    display: inline-block;
    width: 35%;
}

.OrderQty {
    display: inline-block;
    width: 25%;
}

.OrderKGS {
    display: inline-block;
    width: 20%;
}

.OrderPrice {
    display: inline-block;
    width: 15%;
}